.chip-container {
    max-width: 200px;
  }


  .dark-background {
    background-color: black;
}
.my-box {
    border: 2px red solid;
    height: 40px;
}
.my-container {
    border: 2px green solid;
    height: 500px;
}

$size: 18px;
.test-sass {
    font-size: $size;
    h1 {
        color:red;
    }
}

.description {
    color: green;
    span {
        color:violet;
    }
}